*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#d8d7d2;
    background-color: #282b3a;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

h1 {
    text-align: center;
    font-size: 48px;
}

#sidebar {
    width: 15rem;
    height: 30rem;
}

#container {
    border: 2px solid #6b6bbe;
    background-color: #363636;
    display: flex;
    flex-wrap: wrap;
    padding: 24px;
    width: 550px;
    height: 550px;
    border-radius: 20px;
    margin: 50px;
    flex-shrink: 0;
}

/* .box {
    border: .5px solid #929292;
} */

#selectors {
    border: 2px solid #a5a5c9;
    border-radius: 20px;
    height: 73%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#gridInfo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

button {
    padding: 12px 0;
    width: 100px;
    border-radius: 14px;
    background-color: #cfcfe4;
    /* background-color: #6b6bbe; */
}

footer {
    text-align: center;
    margin-top: 10px;
}

#right-space{
    width: 200px;
    height: 200px;
}